In [63]:
# Import des bibliothèques nécessaires
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [64]:

# Charger les données depuis le fichier CSV
df = pd.read_csv('../dataset/consommation-quotidienne-brute.csv', nrows =2000,sep=';', header=0, index_col=False)
df.head(5)

,Date - Heure,Date,Heure,Consommation brute gaz (MW PCS 0°C) - GRTgaz,Statut - GRTgaz,Consommation brute gaz (MW PCS 0°C) - Teréga,Statut - Teréga,Consommation brute gaz totale (MW PCS 0°C),Consommation brute électricité (MW) - RTE,Statut - RTE,Consommation brute totale (MW)
0,2023-11-30T23:30:00+01:00,30/11/2023,23:30,NaN,NaN,NaN,NaN,NaN,60491,Consolidé,NaN
1,2023-11-30T23:00:00+01:00,30/11/2023,23:00,64713.0,Définitif,3126.0,Définitif,67839.0,61153,Consolidé,128992.0
2,2023-11-30T22:30:00+01:00,30/11/2023,22:30,NaN,NaN,NaN,NaN,NaN,62387,Consolidé,NaN
3,2023-11-30T22:00:00+01:00,30/11/2023,22:00,69016.0,Définitif,3547.0,Définitif,72563.0,61421,Consolidé,133984.0
4,2023-11-30T21:30:00+01:00,30/11/2023,21:30,NaN,NaN,NaN,NaN,NaN,61283,Consolidé,NaN

## Analyse Exploratoire des Données (EDA) avant le pretraitement

In [65]:
# Explorer les statistiques descriptives
descriptive_stats = df.describe()
descriptive_stats

,Consommation brute gaz (MW PCS 0°C) - GRTgaz,Consommation brute gaz (MW PCS 0°C) - Teréga,Consommation brute gaz totale (MW PCS 0°C),Consommation brute électricité (MW) - RTE,Consommation brute totale (MW)
count,1000.000000,1000.000000,1000.000,2000.000000,1000.000000
mean,48236.694000,2773.427000,51010.121,52112.164000,103146.504000
std,14418.644169,1092.530183,15417.125,7702.199775,22289.669462
min,22921.000000,1024.000000,24051.000,33842.000000,59526.000000
25%,37521.750000,1946.000000,39692.750,46471.500000,86804.500000
50%,45637.000000,2578.000000,48076.000,52232.500000,99993.500000
75%,56955.250000,3493.750000,60597.000,57496.000000,118254.750000
max,95836.000000,6538.000000,102288.000,72594.000000,173349.000000

In [66]:
def visualize_data(df):
    """
    Visualise la distribution des valeurs pour chaque colonne du DataFrame.

    Args:
        df (pandas.DataFrame): Le DataFrame contenant les données.

    Returns:
        None
    """
    # Itérer à travers chaque colonne du DataFrame
    for column in df.columns:
        # Vérifier si la colonne contient des valeurs numériques
        if df[column].dtype in ['int64', 'float64']:
            # Créer un histogramme pour les valeurs numériques
            plt.figure(figsize=(8, 6))
            sns.histplot(df[column].dropna(), kde=True)
            plt.title(f'Distribution de {column}')
            plt.xlabel(column)
            plt.ylabel('Nombre de cas')
            plt.show()
        else:
            # Créer un graphique à barres pour les valeurs non numériques
            plt.figure(figsize=(8, 6))
            sns.countplot(x=column, data=df)
            plt.title(f'Distribution de {column}')
            plt.xlabel(column)
            plt.ylabel('Nombre de cas')
            plt.xticks(rotation=45)
            plt.show()

# Utilisation de la fonction
visualize_data(df)

## Prétraitement des Données
---

### Gestion valeurs manquantes

In [ ]:
df.columns

Index(['Date - Heure', 'Date', 'Heure',
       'Consommation brute gaz (MW PCS 0°C) - GRTgaz', 'Statut - GRTgaz',
       'Consommation brute gaz (MW PCS 0°C) - Teréga', 'Statut - Teréga',
       'Consommation brute gaz totale (MW PCS 0°C)',
       'Consommation brute électricité (MW) - RTE', 'Statut - RTE',
       'Consommation brute totale (MW)'],
      dtype='object')

In [ ]:
df.drop(columns=['Date - Heure'],inplace=True)

In [ ]:
def print_column_types(df):
    """
    Affiche le type de chaque colonne dans le DataFrame.

    Args:
        df (pandas.DataFrame): Le DataFrame contenant les données.

    Returns:
        None
    """
    print("Type de chaque colonne :")
    print(df.dtypes)

# Utilisation de la fonction
print_column_types(df)

Type de chaque colonne :
Date                                             object
Heure                                            object
Consommation brute gaz (MW PCS 0°C) - GRTgaz    float64
Statut - GRTgaz                                  object
Consommation brute gaz (MW PCS 0°C) - Teréga    float64
Statut - Teréga                                  object
Consommation brute gaz totale (MW PCS 0°C)      float64
Consommation brute électricité (MW) - RTE         int64
Statut - RTE                                     object
Consommation brute totale (MW)                  float64
dtype: object

In [ ]:
def display_unique_values(dataframe, columns):
    for column in columns:
        unique_values = dataframe[column].unique()
        print(f"Unique values in column '{column}': {unique_values}")

# Display unique values for categoriel colone
colones_categorielles = df.select_dtypes(include=['object']).columns
display_unique_values(df, colones_categorielles)

Unique values in column 'Date': ['30/11/2023' '29/11/2023' '28/11/2023' '27/11/2023' '26/11/2023'
 '25/11/2023' '24/11/2023' '23/11/2023' '22/11/2023' '21/11/2023'
 '20/11/2023' '19/11/2023' '18/11/2023' '17/11/2023' '16/11/2023'
 '15/11/2023' '14/11/2023' '13/11/2023' '12/11/2023' '11/11/2023'
 '10/11/2023' '09/11/2023' '08/11/2023' '07/11/2023' '06/11/2023'
 '05/11/2023' '04/11/2023' '03/11/2023' '02/11/2023' '01/11/2023'
 '31/10/2023' '30/10/2023' '29/10/2023' '28/10/2023' '27/10/2023'
 '26/10/2023' '25/10/2023' '24/10/2023' '23/10/2023' '22/10/2023'
 '21/10/2023' '20/10/2023']
Unique values in column 'Heure': ['23:30' '23:00' '22:30' '22:00' '21:30' '21:00' '20:30' '20:00' '19:30'
 '19:00' '18:30' '18:00' '17:30' '17:00' '16:30' '16:00' '15:30' '15:00'
 '14:30' '14:00' '13:30' '13:00' '12:30' '12:00' '11:30' '11:00' '10:30'
 '10:00' '09:30' '09:00' '08:30' '08:00' '07:30' '07:00' '06:30' '06:00'
 '05:30' '05:00' '04:30' '04:00' '03:30' '03:00' '02:30' '02:00' '01:30'
 '01:00' '00:30' '00:00']
Unique values in column 'Statut - GRTgaz': [nan 'Définitif']
Unique values in column 'Statut - Teréga': [nan 'Définitif']
Unique values in column 'Statut - RTE': ['Consolidé']

In [ ]:

def remove_nan_rows(df, column_name):
    """
    Supprime les lignes avec des valeurs NaN dans une colonne spécifique.

    Args:
        df (pandas.DataFrame): Le DataFrame contenant les données.
        column_name (str): Le nom de la colonne à vérifier.

    Returns:
        pandas.DataFrame: Le DataFrame filtré.
    """
    df = df.dropna(subset=[column_name])
    return df


# Utilisation des fonctions pour chaque colonne
df=remove_nan_rows(df, 'Statut - GRTgaz')
df=remove_nan_rows(df, 'Statut - Teréga')

In [ ]:
def handle_missing_values(df):
    """
    Gère les valeurs manquantes dans un DataFrame.

    Si le pourcentage de valeurs manquantes dans une colonne dépasse 55 %,
    les lignes contenant des valeurs manquantes dans cette colonne seront supprimées.
    Sinon, le pourcentage de valeurs manquantes dans cette colonne sera simplement imprimé.

    Args:
        df (pandas.DataFrame): Le DataFrame contenant les données.

    Returns:
        pandas.DataFrame: Le DataFrame après traitement des valeurs manquantes.
    """
    total_rows = len(df)
    for column in df.columns:
        missing_values = df[column].isnull().sum()
        missing_percentage = (missing_values / total_rows) * 100
        print(f"Percentage of missing values in column '{column}': {missing_percentage:.1f}%")

        if missing_percentage > 55:
            print(f"Removing rows with missing values in column '{column}'...")
            df = df.dropna(subset=[column])
            print(f"{len(df)} rows remaining after removing missing values in column '{column}'.")

    return df


df = handle_missing_values(df)

Percentage of missing values in column 'Date': 0.0%
Percentage of missing values in column 'Heure': 0.0%
Percentage of missing values in column 'Consommation brute gaz (MW PCS 0°C) - GRTgaz': 0.0%
Percentage of missing values in column 'Statut - GRTgaz': 0.0%
Percentage of missing values in column 'Consommation brute gaz (MW PCS 0°C) - Teréga': 0.0%
Percentage of missing values in column 'Statut - Teréga': 0.0%
Percentage of missing values in column 'Consommation brute gaz totale (MW PCS 0°C)': 0.0%
Percentage of missing values in column 'Consommation brute électricité (MW) - RTE': 0.0%
Percentage of missing values in column 'Statut - RTE': 0.0%
Percentage of missing values in column 'Consommation brute totale (MW)': 0.0%

In [ ]:
df

,Date,Heure,Consommation brute gaz (MW PCS 0°C) - GRTgaz,Statut - GRTgaz,Consommation brute gaz (MW PCS 0°C) - Teréga,Statut - Teréga,Consommation brute gaz totale (MW PCS 0°C),Consommation brute électricité (MW) - RTE,Statut - RTE,Consommation brute totale (MW)
1,30/11/2023,23:00,64713.0,Définitif,3126.0,Définitif,67839.0,61153,Consolidé,128992.0
3,30/11/2023,22:00,69016.0,Définitif,3547.0,Définitif,72563.0,61421,Consolidé,133984.0
5,30/11/2023,21:00,74468.0,Définitif,3984.0,Définitif,78452.0,62760,Consolidé,141212.0
7,30/11/2023,20:00,78208.0,Définitif,4278.0,Définitif,82486.0,66333,Consolidé,148819.0
9,30/11/2023,19:00,82662.0,Définitif,4432.0,Définitif,87094.0,70285,Consolidé,157379.0
...,...,...,...,...,...,...,...,...,...,...
1991,20/10/2023,12:00,33138.0,Définitif,1730.0,Définitif,34868.0,51988,Consolidé,86856.0
1993,20/10/2023,11:00,34305.0,Définitif,1782.0,Définitif,36087.0,51492,Consolidé,87579.0
1995,20/10/2023,10:00,34194.0,Définitif,1843.0,Définitif,36037.0,51156,Consolidé,87193.0
1997,20/10/2023,09:00,33595.0,Définitif,1847.0,Définitif,35442.0,50363,Consolidé,85805.0
1999,20/10/2023,08:00,33073.0,Définitif,1735.0,Définitif,34808.0,49230,Consolidé,84038.0